body {
    background: #282828;
}

#header {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

#section {
    width: 75%;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.244);
    border-radius: 15px;
}

#footer {
    color: white;
    text-align: center;
}